Xcursor.theme: Qogir
Xcursor.size: 16

!! Colorscheme

!! special
*.foreground:   #abb2bf
*.background:   #1d1f21
*.cursorColor:  #abb2bf

!! black
*.color0:       #1e2229
*.color8:       #7f8c8d

!! red
*.color1:       #ed1515
*.color9:       #c0392b

!! green
*.color2:       #44853a
*.color10:      #80f96d

!! yellow
*.color3:       #f67400
*.color11:      #fdbc4b

!! blue
*.color4:       #1d99f3
*.color12:      #96b6e9

!! magenta
*.color5:       #9b59b6
*.color13:      #8e44ad

!! cyan
*.color6:       #1abc9c
*.color14:      #16a085

!! white
*.color7:       #fcfcfc
*.color15:      #ffffff

!! other apperance stuff
URxvt.font: xft:DejaVuSansMono Nerd Font Mono:autohint=true:size=10
! URxvt.font: xft:CaskaydiaCove Nerd Font:autohint=true:size=10,xft:DejaVuSansMono Nerd Font:autohint=true:size=10
! URxvt.font: xft:CaskaydiaCove Nerd Font Mono:autohint=true:size=10
! Urxvt.font: xft:Hack:size=10
Xft.antialias: true
! Xft.rgba: rgb
! Xft.hinting: true
! Xft.hintstyle: hintmedium
URxvt.letterSpace: -1
URxvt.scrollBar: false
Urxvt.scrollBar_right: false
URxvt.urgentOnBell: true
!! transparent
URxvt.transparent: true
URxvt.shading: 35
URxvt.internalBorder: 10

!! Disable ISO 14755 for ctrl+shift keys
URxvt.iso14755: false
URxvt.iso14755_52: false
!! New copypasta keys 
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard
 
!! Extensions
URxvt.perl-ext-common: default,matcher,keyboard-select,font-size
!! matcher (click on urls)
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: C-1
!! keyboard-select (vim mode)
URxvt.keysym.M-Escape: keyboard-select:activate
URxvt.keyboard-select.clipboard: true
!! zoom in/out (font resize)
URxvt.keysym.C-0x2D: font-size:decrease
URxvt.keysym.C-0x3D: font-size:increase
URxvt.keysym.C-0x30: font-size:reset
